body{
    width: 80%;
    border: 15px solid rgb(160, 157, 157);
    margin: 1.5% auto;
}

h4{
    color: rgb(1, 166, 221);
    font-weight: 50;
    font-family: 'Courier New', Courier, monospace;
}

.marg20{
    margin: 20px;
}

h2{
    text-transform: capitalize;
    color: darkslategray;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.border-left{
    border-left: 5px solid rgb(160, 157, 157);
    padding-left: 3px;
}
p{
    text-align: justify;
}